<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Breed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cats.empty}">
        <td colspan="3"> No Cats Available</td>
    </tr>
    <tr th:each="cat : ${cats}">
        <td><span th:text="${cat.name}"> Name </span></td>
        <td><span th:text="${cat.birthDate}"> BirthDate </span></td>
        <td><span th:text="${cat.breed.name}"> Breed </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>