<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owners</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${owners.empty}">
        <td colspan="3"> No Owners Available</td>
    </tr>
    <tr th:each="owner : ${owners}">
        <td><span th:text="${owner.name}"> Name </span></td>
        <td><span th:text="${owner.surname}"> Surname </span></td>
        <td><span th:text="${owner.phone}"> Phone </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>